<section class="card">
  <a href="/post/{{id}}">
    <header>{{title}}</header>
    <p>
      Posted by {{user.username}} on {{format_date created_at}}
    </p>
  </a>
  <p class="card-body">{{content}}</p>
</section>
